.site-header {
  border-bottom: 1px solid oklch(from var(--color-lightgray) 85% c h);
}

.site-header-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.site-header .logo-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.site-header .logo {
  height: 48px;
}

.site-header h1 {
  line-height: 1;
  font-size: 32px;
}

@media (max-width: 640px) {
  .site-header h1 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .site-header h1 {
    font-size: 20px;
  }
}

.site-header .tagline {
  text-align: right;
}

@media (max-width: 640px) {
  .site-header .tagline {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .site-header .tagline {
    font-size: 14px;
  }
}
