.join-us-button {
    background-color: hsl(173deg 100% 33%);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
  }

  .join-us-button:hover {
    color: black;
  }