.site {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.site-header {
  box-shadow: 0 12px 12px 6px hsla(0deg 0% 0% / 10%);
  border-bottom: 1px solid hsl(0deg 0% 85%);
}

.site-header-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 24px;
  display: flex;
}

.site-header .logo-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.site-header .logo {
  height: 48px;
}

.site-header h1 {
  line-height: 1;
}

.site-main-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 24px;
}

.site-main h2 {
  margin-bottom: 0.5em;
  font-size: 28px;
}

.site-main p {
  line-height: 1.65;
  margin-bottom: 1.5em;
}

.site-footer {
  box-shadow: 0 -12px 12px 6px hsla(0deg 0% 0% / 10%);
  border-bottom: 1px solid hsl(0deg 0% 85%);
}

.site-footer-inner-wrapper {
  max-width: var(--site-max-width);
  margin-inline: auto;
  padding-inline: 12px;
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
}

.site-footer .logo {
  height: 48px;
  margin-bottom: 12px;
}

.site-footer address {
  font-style: normal;
  font-size: 14px;
}

.site-footer .social-media-links ul {
  list-style-type: none;
  display: flex;
}

.site-footer .social-media-links ul a {
  font-size: 32px;
  display: flex;
  padding: 12px;
  color: inherit;
  transition: opacity 0.25s;
}

.site-footer .social-media-links ul:hover a {
  opacity: 0.5;
}

.site-footer .social-media-links ul:hover a:hover {
  opacity: 1;
}
