@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  background-color: hsl(0deg 0% 97.5%);
  color: hsl(0deg 0% 12.5%);

  --site-max-width: 1200px;
}
