@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background-color: var(--color-lightgray);
  color: var(--color-darkgray);

  --site-max-width: 800px;
  --color-brand: oklch(65.59% 0.118 181);
  --color-brand-dark: oklch(55.59% 0.118 181);
  --color-white: white;
  --color-lightgray: oklch(98.21% 0 0);
  --color-darkgray: oklch(24.35% 0 0);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--color-lightgray);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand);
  border: 3px solid var(--color-lightgray);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-darkgray);
}

a {
  color: var(--color-brand);
  text-decoration: none;
}

a:is(:hover, :active, :focus) {
  text-decoration: underline;
}
